<div class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<i class="fa fa-book fa-lg"></i> Galvanize Reads
			</a>
		</div>
	</div>
</div>