<!DOCTYPE html>
<html>
<head>
	<title>gReads</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container-fluid">
		
	</div>

	<% include ../partials/footer %>
</body>
</html>