<!DOCTYPE html>
<html>
<head>
	<title>gReads</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container-fluid">
		<div class="col-md-6">
			<a href="/authors">
				<img src="https://static.pexels.com/photos/7103/writing-notes-idea-conference.jpg" alt="authors img">
			</a>
			<h2 class="text-center text-success">Authors</h2>
		</div>
		<div class="col-md-6">
			<a href="books">
				<img src="https://static.pexels.com/photos/2757/books-magazines-building-school.jpg" alt="books img">
			</a>
			<h2 class="text-center text-success">Books</h2>
		</div>
	</div>

	<% include ../partials/footer %>
</body>
</html>