<!DOCTYPE html>
<html>
<head>
	<title>gReads</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container-fluid">
		<div class="container-fluid">
	  		<div id="formy" class="jumbotron">
	  			<form method="POST" action="/books/book/<%= data %>/edit?_method=PUT">
	  				<label for="title">Title:</label>
	  					<input class="form-control" type="text" name="book-title" id="book-title">
	  				<label for="genre">genre:</label>
	  					<input class="form-control" type="text" name="genre" id="genre">
	  				<label for="cover-image-url">cover-image-url:</label>
	  					<input class="form-control" type="text" name="cover-image-url" id="cover-image-url">
	  				<label for="description">Desc.</label>
	  					<textarea class="form-control" name="description"></textarea>
	  				<label for="authors">Authors</label>
	  				<button type="submit" class="form-control btn btn-success">Submit</button>
	  			</form>
	  		</div>
	  	</div>
	</div>

	<% include ../partials/footer %>
</body>
</html>