<!DOCTYPE html>
<html>
<head>
	<title>gReads</title>
	<% inlcude ../partials/head %>
</head>
<body>
	<% inlcude ../partials/header %>

	<div class="container-fluid">
		<div class="col-md-6">
			<img src="https://static.pexels.com/photos/7103/writing-notes-idea-conference.jpg" alt="authors img">
		</div>
		<div class="col-md-6">
			<img class="https://static.pexels.com/photos/2757/books-magazines-building-school.jpg">
		</div>
	</div>

	<% inlcude ../partials/footer %>
</body>
</html>